<div class="article-form">
<%= form_for @article do |f| %>

<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <p>
    <strong><%= f.label :title, class: "article-title-label" %><br></strong>  
    <%= f.text_field :title, class: "article-title-form" %>
  </p>

  <p>
    <strong><%= f.label :text, class: "article-text-label" %> <br></strong>  
    <%= f.text_area :text, class: "article-text-form" %>
  </p>

  <p>
    <%= f.submit 'Update', class: "submit-button button" %>
  </p>
<% end %>
</div> 