
  <div class="container">
  <div class="row articles">


    <div class="col-sm-12 articles-head">
      <h1 class="articles-h1">Blog</h1>
    </div>


    <div class="col-sm-4 col-sm-offset-4 articles-new">
      <p><%= link_to 'New article', new_article_path %></p> 
    </div>
    <div class="articles-wrap">
      <% @articles.each do |article| %>
      <div class="col-sm-4 col-sm-offset-4 articles-item">


        <h2><%= article.title %></h2>
        <p><%= article.text %></p>
        <p><%= link_to 'Show', article_path(article) %> | <%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Destroy', article_path(article),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></p>


        </div>
        <% end %>
      </div>
      


    </div>
  </div>
  <%= will_paginate %>
