<div class="container">
  <div class="row">
    <div class="article-show">
    <div class="col-sm-12 article-head">
     <h2><%= @article.title %></h2>
    </div>


  <div class="col-sm-4 col-sm-offset-4 articles-item">  


        <p class="article-content"><%= @article.text %></p>
        <p><%= image_tag @article.image.url, class: "article-photo" if @article.image_stored? %></p>
        <p><%= image_tag @article.picture.url(:medium) %></p>
        <% if logged_in? %><p><%= link_to 'Edit', edit_article_path(@article) %> | <% end %>
        <%= link_to 'Back', articles_path %></p>
   </div>
</div>
  </div>
</div>
      
    
   



